<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>You currently login as <strong><%= user.username %></strong></p>
    <p>Your email is <strong><%= user.email %></strong></p>
  </body>
</html>
